.jd-tag{
    background-color: #E3E3E3;
    width: fit-content;
    padding: 4px 20px;
    border-radius: 20px;
    color: #0B0B0B;
    margin: 15px 5px;
    font-family: 'IbmPlexSansMedium';
    font-size: 12px;
}